/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.conteiner-larger{
    width: 60%;
    margin: 0 auto;
}

.conteiner-smaller{
    width: 50%;
    margin: 0 auto;
}

.blue-button{
    padding: 8px 10px;
    background-color: #0061FF;
    color: white;
}

/* HEADER */
/* menu */

.header-menu{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: fixed;
    z-index: 5;
    width: 100%;
    border-bottom: 1px lightgrey solid;
}

.left-hdrmenu{
    align-items: center;
}

.header-menu li{
    padding: 0 10px;
    font-size: 0.7rem;

}



.header-menu img{
    width: 60%;
}

.right-hdrmenu ul{
    align-items: center;
}

.right-hdrmenu ul li:last-child{
    padding: 5px 10px;
    background-color: #0061FF;
    color: white;
}

/* jumbotron */ 
.jumbotron{
    background-color: #B4D0E7;  
    padding: 43.33px 0 0;
    margin-bottom: 80px;

}

h1{
    padding: 40px 0;
    font-size: 3rem;
    font-weight: 800;
}

.jumbo-text{
    width: 40%;
    font-size: 0.7rem;
}

.jumbo-description{
    padding: 20px 0;
}


.jumbo-link{

    display: inline-block;
}

.jumbo-arrow-down{
    font-size: 2rem;
    padding: 10px 0 5px;
}

.jumbo-img{
    width: 60%;
    padding: 20px 0 0;
    margin-bottom: -50px;
    margin-left: -50px;
}

.jumbo-img img{
    width: 120%;
}


/* MAIN */
/* plans */
.plans-title{
    /* debug */
    height: 80px;
    background-color: blueviolet;
    border: 2px black solid;

}

.invoice-type{
    /* debug */
    height: 60px;
    width: 60%;
    background-color: coral;
    border: 2px black solid;

}

.columns{
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
}

.columns > div{
    width: calc(100%/3);

    /* debug */
    height: 800px;
    background-color: greenyellow;
    border: 2px black solid;
}

.team-row{
    /* debug */
    height: 200px;
    background-color: greenyellow;
    border: 2px black solid;
    
}

.plan-name{
    /* debug */
    height: 10%;
    background-color: crimson;
    border: 2px black solid;

}

.advantages{
    /* debug */
    height: 50%;
    background-color: blueviolet;
    border: 2px black solid;

}

.plan-point{
    /* debug */

    height: 40%;
    background-color: brown;
    border: 2px black solid;


}

/* findpartner */
.sub-findpartner{
    padding: 80px 0;
}
.fp-img{
    width: 60%;

    /* debug */
    height: 200px;
    background-color: grey;
    border: 2px black solid;

}

.fp-text{
    width: 40%;

    /* debug */
    height: 200px;
    background-color: grey;
    border: 2px black solid;

}

/* operations */
.operaions-title{
    /* debug */
    height: 60px;
    background-color: pink;
    border: 2px black solid;
}

.all-operations{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.single-operation{
    width: calc(100%/3 - 20px);

    /* debug */
    height: 300px;
    background-color: darkcyan;
    border: 2px black solid;
}

.op-img{

    /* debug */
    height: 50%;
    background-color: beige;
    border: 2px black solid;
}

.op-sub-title{
    /* debug */
    height: 10%;
    background-color: cadetblue;
    border: 2px black solid;
}

.op-text{
    /* debug */
    height: 40%;
    background-color: aquamarine;
    border: 2px black solid;
}

/* teams */
.teams-title{
    /* debug */
    height: 200px;
    background-color: darkkhaki;
    border: 2px black solid;
    margin: 50px auto;

}

/* teams logo left */
.teams-logo-left{
    width: calc(100vw/3);
    height: calc(100vw/3);
    flex-wrap: wrap;
    /* debug */
    background-color: darkkhaki;
    border: 2px black solid;
    
}

.tll-tl, .tll-tr, .tll-bl, .tll-br{
    width: calc(100%/2);
    height: calc(100%/2);
     /* debug */
    background-color: darkred;
     border: 2px black solid;


}

/* teams logo center */

.teams-logo-center{
    width: calc(100vw/3);
    height: calc(100vw/3);
    /* debug */
    background-color: blueviolet;
    border: 2px black solid;
    overflow-y: scroll;
    
}

/* teams logo right */


.teams-logo-right{
    width: calc(100vw/3);
    height: calc(100vw/3);
    flex-wrap: wrap;
    /* debug */
    background-color: darkkhaki;
    border: 2px black solid;
    
}

.tlr-tl, .tlr-tr, .tlr-bl, .tlr-br{
    width: calc(100%/2);
    height: calc(100%/2);
     /* debug */
    background-color: darkred;
     border: 2px black solid;


}


/* teams free trial */
.teams-free-trial{
    background-color: #B4D0E7;
    /* debug */
    height: 200px;
    padding: 80px 0;
}

.teams-free-trial-title{
    width: 60%;
    /* debug */
    height: 30px;
    background-color: darkseagreen;
    border: 2px black solid;
}

.teams-free-trial-link{
    width: 40%;
    /* debug */
    height: 30px;
    background-color: green;
    border: 2px black solid;
}


/* question */
.question-title{
    width: 60%;
    /* debug */
    height: 30px;
    background-color: red;
    border: 2px black solid;

}

.question-list li{
    padding: 30px 0;
    /* debug */
    height: 30px;
     background-color: darkorange;
     border: 2px black solid;
}

/* FOOTER */
footer{
    background-color: black;
    /* debug */
    height: 300px;
}

.footer-menu{
    /* debug */
    height: 300px;
}

.languages{
    height: 100px;
    background-color: burlywood;
}