/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.conteiner-larger{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}

.conteiner-smaller{
    width: 50%;
    margin: 0 auto;
    max-width: 1000px;
}

.blue-button{
    padding: 8px 10px;
    background-color: #0061FF;
    color: white;

}

/* HEADER */
/* menu */

.header-menu{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    border-bottom: 1px lightgrey solid;
}

.left-hdrmenu{
    align-items: center;
}

.header-menu li{
    padding: 0 10px;
    font-size: 0.7rem;
}

.header-menu img{
    width: 60%;
}

.right-hdrmenu ul{
    align-items: center;
}

.right-hdrmenu ul li:last-child{
    padding: 5px 10px;
    background-color: #0061FF;
    color: white;
}

/* jumbotron */
.jumbotron{
    background-color: #B4D0E7;
    padding: 43.33px 0 0;
    margin-bottom: 80px;

}

h1{
    padding: 40px 0;
    font-size: 3rem;
    font-weight: 800;
}

.jumbo-text{
    width: 40%;
    font-size: 0.7rem;
}

.jumbo-description{
    padding: 20px 0;
}


.jumbo-link{

    display: inline-block;
}

.jumbo-arrow-down{
    font-size: 2rem;
    padding: 10px 0 5px;
}

.jumbo-img{
    width: 60%;
    padding: 20px 0 0;
    margin-bottom: -50px;
    margin-left: -50px;
}

.jumbo-img img{
    width: 120%;
}


/* MAIN */
/* plans */
.plans-title{
    padding: 20px 0;
}

.invoice-type{
    font-size: 0.8rem;
    vertical-align: middle;
    line-height: 1rem;
}

.invoice-type input{
    vertical-align: middle;
}

.first-radio{
    padding-right: 40px;
 
}

.columns{
    font-size: 0.7rem;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;
}

.columns > div{
    width: calc(100%/3);
    border: 1px lightgray solid;
}



.plan-name{
    font-size: 0.8rem;
    text-align: center;
    line-height: 2rem;
    border-bottom: 1px lightgray solid;
}

.advantages{
    padding: 10px;
}

h3{
    padding: 5px;
}
.plan-price{
    padding: 5px;
    font-weight: bold;
}

.price-info{
    padding: 3px 5px 20px;
    font-size: 0.6rem;
    color: grey;
}

.columns ul{
    padding: 20px 0;
    margin-left: 23px;

}

.columns ul li{
    padding-bottom: 10px;
}

.plan-button{
    text-align: center;
    margin: auto 5px 20px;
}

.plan-alternative-link{
    padding: 0 5px;
}

.plan-alternative-link a{
    color: #0000EE;
    text-decoration: underline;
}

.columns hr{
    width: 20%;
    margin: 20px 15px;
}


.plan-point{
    padding: 10px;
}

.plan-point-title{
    font-weight: bold;
    padding: 5px;
}
.plan-point i{
    color: #0061FF;
}

.team-row{
    font-size: 0.7rem;
    border: 1px lightgray solid; 
}

.fourth-name-button{
    justify-content: space-between;
}

.fourth-name-button .plan-button{
    margin:0 5px;
}

.team-row p{
    width: 80%;
    padding: 40px 5px 20px;
}

/* findpartner */
.sub-findpartner{
    padding: 80px 0;
}
.fp-img{
    width: 60%;
}

.fp-img img{
    width: 100%;
}

.fp-text{
    width: 40%;
    padding: 20px;
}

.fp-text p, .fp-text a{
    font-size: 0.7rem;
    margin: 5px;
}

.fp-button{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    margin: 20px 0;
}

/* operations */

.all-operations{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
}

.single-operation{
    width: calc(100%/3 - 10px);
}

.op-img img{
    width: 100%;
}

.op-text{
    font-size: 0.7rem;
    padding: 5px;
}

/* teams */
.teams-title{
    /* debug */
    /* height: 200px;
    background-color: darkkhaki; */
    /* border: 2px black solid; */
    margin: 100px auto;
}

.teams-link{
    font-size: 0.7rem;
    color: #0000EE;
    text-decoration: underline;
    margin: 40px auto;
}

/* teams logo common */
.teams-logo img{
    width: 50%;
}
.teams-logo-left img, .teams-logo-right img{
    filter: invert(100%);
}

.teams-logo-left, .teams-logo-right{
    width: calc(100vw/3);
    height: calc(100vw/3);
    flex-wrap: wrap;

}

.tll-tl, .tll-tr, .tll-bl, .tll-br, .tlr-tl, .tlr-tr, .tlr-bl, .tlr-br{
    width: calc(100%/2);
    height: calc(100%/2);
    justify-content: center;
    align-items: center;
}


/* teams logo left */
.tll-tl{
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.tll-tl img{
    width: calc(50% + 10px);
}

.tll-tr{
    background-color: #61082B;
}

.tll-bl{
    background-color: #0093CE;
}

.tll-br{
    background-color: #FF1C1C;
}

/* teams logo center */
.teams-logo-center{
    width: calc(100vw/3);
    height: calc(100vw/3);
    padding: 35px;
    background-color: #F5F5F5;
    font-size: 0.7rem;
    overflow-y: auto;
}

.teams-logo-center hr{
    width: 20%;
    margin: 30px 0;
}

.teams-logo-center p{
    margin-bottom: 20px;
}



/* teams logo right */
.tlr-tl{
    background-color: #D5001F;
}

.tlr-tr{
    background-color: #B4D0E7;
}

.tlr-bl{
    background-color: #0D2481;
}

.tlr-br{
    background-color: #FFD830;
}


/* teams free trial */
.teams-free-trial{
    background-color: #B4D0E7;
    padding: 80px 0;
}

.teams-free-trial-title{
    width: 50%;
}

.teams-free-trial h2{
    color: #61082B;
}

.teams-free-trial-link{
    width: 50%;
    text-align: right;
    margin-top: 10px;
}

.teams-free-trial-link a{
    display: inline-block;
}

.ft-button{
    font-size: 0.7rem;
    background-color: white;
    padding: 8px 18px;

}


/* question */
.question-title{
    width: 60%;
    /* debug */
    height: 30px;
    background-color: red;
    border: 2px black solid;

}

.question-list li{
    padding: 30px 0;
    /* debug */
    height: 30px;
     background-color: darkorange;
     border: 2px black solid;
}

/* FOOTER */
footer{
    background-color: black;
    /* debug */
    height: 300px;
}

.footer-menu{
    /* debug */
    height: 300px;
}

.languages{
    height: 100px;
    background-color: burlywood;
}